<h1 align="center">Nouveau fournisseur</h1>
<form action="" method="POST">
	<table align="center">
		<tr>
			<td>Name</td>
			<td><input type="text" name="name"/></td>
		</tr>
        <tr>
			<td>Email</td>
			<td><input type="email" name="email"/></td>
		</tr>
        <tr>
			<td>Adress</td>
			<td><input type="text" name="adress"/></td>
		</tr>

           <tr>
			<td></td>
			<td><input type="submit" value="Ajouter"/></td>
		</tr>
	</table>
</form>
