{% extends 'base.html.twig' %}

{% block body %}
<h1 align="center">Nouveau fournisseur</h1>


<form action="" method="POST">
 
 <div class="form-group">
    <label for="Name">Provider Name:</label>
    <input type="text" name="name" class="form-control">
  </div>

  <div class="form-group">
    <label for="Email">Provider Email:</label>
    <input type="email" name="email" class="form-control">
  </div>

  <div class="form-group">
    <label for="Name">Provider Adress:</label>
    <input <input type="text" name="adress" class="form-control">
  </div>


	<button type="submit" class="btn btn-primary">Submit</button>

</form>
  {% endblock %}